body{
background: url('/img/3.jpg');
background-repeat:no-repeat; 
background-size: cover;
background-attachment:fixed;
font-family: helvetica,arial,sans-serif;
line-height: 20px;
}


#txt-message{
font-family:  arial;	
font-style: normal;
}

#sendTo{
	color: black;
}

#setName{
color: black;
}



#here{
/*height: 287px;*/
/*height: 320px;*/



height: 900px;



/*height: 276px;*/


border: 1px solid #ccc;
	/*overflow-y: scroll;*/
overflow-x: scroll;
}

.set{
padding: 10px;
margin: 20px 0;
color: #fff;
box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);

background: white;

}
#nombre{

	color:#0dc3db;
}

.altura{
	margin-top: 40px;
color:	#6303b7;
}
#users{
	color: black;
}



#msj{

border-style: ridge;
/*animation-direction: reverse;*/
color:black;
width: 100%;


}

#procesar-form{
margin-top: 5px

}

#raya{
	margin: 2px;
}

.row{
	margin-top: 3px;
	margin-left: 2px;
}

#technicolor{
	color: black;
height: auto;
width: auto;



font-size: 15px;

text-align: left;
/*//border-radius: 5px 60px 60px;*/
/*border-radius: 60px;*/
border-radius: 60px 20px;

padding: 5px;
margin-bottom: 3px;

/*background: #5cb85c; */
/*color del boton success*/


background-color: #303030;
color: #80bd01;

}

#boton{
margin-top: 10px;

}

#send{
width: 270px;

}















@media screen and (min-height : 420px) {

/*body{
	background: url('/img/image1.png');
background-color: black;

}
*/


#here{
height: 276px;	
}
	
}


@media screen and (min-height : 488px) {

/*body{
	background: url('/img/image3.png');
background-color: black;

}
*/

#here{
height: 312px;	
}
	
}


@media screen and (min-height : 600px) {

/*body{
	background: url('/img/image2.png');

}
*/

#here{
height: 500px;	
}
	
}
